<h2>Elo <span translate class="subtext">since "The Taken King" launch (Sept. 15, 2015)</span></h2>
<div class="loading" ng-if="loading.elo || loading.eloHistory">
    <i class="fa fa-cog fa-spin"></i> <translate>Loading Elo Data...</translate>
</div>
<div class="elo">
    <div class="ratings row" ng-if="elos.length > 0 && !loading.elo">
        <div ng-repeat="e in ::elos" class="col-xs-2 rating" ng-style="{ 'background-color': e.league.colors.background }" ng-if="$index < 6">
            <i class="ggg {{modeIcons[e.mode]}}"></i>
            <span ng-if="e.rank != -1">{{ e.elo }}</span>
            <span ng-if="e.rank == -1">N/A</span>
            <div class="hidden-xs">{{modes[e.mode]}}</div>
            <div class="rank" ng-if="e.rank == -1" translate>Placing</div>
            <div class="rank" ng-if="e.rank == -2" translate>Inactive</div>
            <div class="rank" ng-if="e.rank > 0">#{{e.rank|number}}</div>
            <div class="league" ng-style="{ 'background-color': e.league.colors.line }">{{e.league.label}}</div>
        </div>
    </div>
    <div class="chart" ng-if="!loading.eloHistory && !chartEmpty">
        <highchart config="eloChart" style="height: 300px;"></highchart>
        <!--<highchart config="kdChart" style="height: 300px;"></highchart>-->
    </div>
    <div ng-if="!loading.eloHistory && !loading.elo && elos.length == 0 && chartEmpty" class="empty" translate>
        No Elo data exists for this player. This is either an error in our system, or the player pretty much never enters Crucible.
    </div>
</div>

<h2>
    <div class="history-filters pull-right">
        <div class="dropdown">
            <button class="btn btn-default dropdown-toggle" type="button" id="modeSelector" data-toggle="dropdown" aria-haspopup="true">
                <i class="fa fa-filter"></i> <strong translate>Game mode:</strong> {{modes[mode] || 'All'|translate}}
            </button>
            <ul class="dropdown-menu" area-labelledby="modeSelector">
                <li><a href="javascript:;" ng-click="setMode(5)"><translate>All</translate></a></li>
                <li role="seperator" class="divider"></li>
                <li><a href="javascript:;" ng-click="setMode(19)"><i class="ggg ggg-iron-banner"></i> <translate>Iron Banner</translate></a></li>
                <li><a href="javascript:;" ng-click="setMode(14)"><i class="ggg ggg-osiris"></i> <translate>Trials of Osiris</translate></a></li>
                <li><a href="javascript:;" ng-click="setMode(10)"><i class="ggg ggg-control"></i> <translate>Control</translate></a></li>
                <li><a href="javascript:;" ng-click="setMode(12)"><i class="ggg ggg-clash"></i> <translate>Clash</translate></a></li>
                <li><a href="javascript:;" ng-click="setMode(24)"><i class="ggg ggg-rift"></i> <translate>Rift</translate></a></li>
                <li><a href="javascript:;" ng-click="setMode(13)"><i class="ggg ggg-rumble"></i> <translate>Rumble</translate></a></li>
                <li><a href="javascript:;" ng-click="setMode(23)"><i class="ggg ggg-elimination"></i> <translate>Elimination</translate></a></li>
                <li><a href="javascript:;" ng-click="setMode(9)"><i class="ggg ggg-skirmish"></i> <translate>Skirmish</translate></a></li>
                <li><a href="javascript:;" ng-click="setMode(11)"><i class="ggg ggg-salvage"></i> <translate>Salvage</translate></a></li>
                <li><a href="javascript:;" ng-click="setMode(15)"><i class="ggg ggg-doubles"></i> <translate>Doubles</translate></a></li>
                <li><a href="javascript:;" ng-click="setMode(28)"><i class="ggg ggg-control"></i> <translate>Zone Control</translate></a></li>
            </ul>
        </div>
    </div>
    <span translate>Match History</span>
</h2>

<div class="loading" ng-show="loading.fireteam">
    <i class="fa fa-cog fa-spin"></i> <translate>Loading Fireteam...</translate>
</div>
<div class="fireteam row" ng-show="fireteam.length > 0">
    <h4 translate>Recent Fireteam</h4>
    <div class="col-sm-2 member" ng-repeat="row in fireteam" ng-show="row.name != name">
        <div class="details">
            <a ui-sref="app.profile({name: row.name, platform: row.membershipType})" class="name">
                {{ row.name }}
            </a>
            <span class="clan" ng-show="row.clanTag">[{{ row.clanTag }}]</span>
            <span class="clan none" ng-show="!row.clanTag">[No Clan]</span>
        </div>
    </div>
</div>

<div class="empty" ng-show="maintenance.activityHistory">
    <i class="fa fa-warning"></i> <translate>The match history is unavailable due to an API error</translate>
</div>
<div class="loading" ng-show="loading.activityHistory">
    <i class="fa fa-cog fa-spin"></i> <translate>Loading Game History...</translate>
</div>
<div class="table-responsive" infinite-scroll="loadMoreHistory">
    <table class="table table-striped history noselect" ng-if="activities && !loading.activityHistory">
        <tr>
            <th style="width:15%">Played</th>
            <th style="width:20%" class="hidden-xs" translate>Map</th>
            <th style="width:8%" class="text-center" translate>Score</th>
            <th style="width:5%" class="text-center" translate>K</th>
            <th style="width:5%" class="text-center" translate>D</th>
            <th style="width:5%" class="text-center hidden-xs" translate>A</th>
            <th style="width:5%" class="text-center" translate>K/D</th>
            <th style="width:10%" class="text-center" translate>Standing</th>
            <th style="width:1%" class="text-center"></th>
        </tr>
        <tr ng-repeat="activity in activities track by activity.activityDetails.instanceId">
            <td class="clickable">{{ activity.period|ago }}</td>
            <td class="clickable hidden-xs">
                <i class="ggg {{modeIcons[activity.activityDetails.mode]}}"></i> {{ activity.definition.activityName }}
            </td>
            <td class="text-center clickable">{{ activity.values.score.basic.displayValue }}</td>
            <td class="text-center clickable">{{ activity.values.kills.basic.displayValue }}</td>
            <td class="text-center clickable">{{ activity.values.deaths.basic.displayValue }}</td>
            <td class="text-center clickable hidden-xs">{{ activity.values.assists.basic.displayValue }}</td>
            <td class="text-center clickable" ng-class="activity.values.killsDeathsRatio.basic.value < 1 ? 'kd negative' : 'kd positive'">
                {{ activity.values.killsDeathsRatio.basic.displayValue }}
            </td>
            <td class="text-center clickable" ng-class="activity.values.standing.basic.displayValue == 'Defeat' ? 'standing negative' : 'standing positive'">
                {{ activity.values.standing.basic.displayValue }}
            </td>
            <td class="text-center external clickable">
                <i class="fa fa-plus-square-o" pgcr instance-id="activity.activityDetails.instanceId" character-id="character.characterBase.characterId"></i>
            </td>
        </tr>
        <tr ng-if="activities.length == 0">
            <td colspan="9" class="empty" translate>No games have been played in this mode.</td>
        </tr>
    </table>
</div>
