<div class="loading" ng-if="loading.character">
    <i class="fa fa-cog fa-spin"></i> <translate>Loading Characters...</translate>
</div>

<div class="emblem" ng-style="{'background-image':'url(//www.bungie.net/' + character.backgroundPath + ')'}" ng-if="!loading.character">
    <img ng-src="{{'//www.bungie.net/' + character.emblemPath}}" />
    <span class="name">{{name}}</span>
    <span class="class">{{classes[character.characterBase.classHash]}}</span>
    <span class="light">{{ character.characterBase.powerLevel }}</span>
    <span class="grimoire"><i class="ggg ggg-grimoire"></i> {{character.characterBase.grimoireScore}}</span>
</div>

<div ng-if="characters && characters.length > 1" class="alts">
    <div ng-repeat="c in ::characters" ng-click="changeCharacter($index)" class="alt-character col-xs-4" ng-style="{'background-image':'url(//www.bungie.net/' + c.backgroundPath + ')'}">
        <div class="info">
            {{classes[c.characterBase.classHash]}} <span class="light">{{c.characterBase.powerLevel}}</span>
        </div>
    </div>
</div>

<div class="clear"></div>

<div class="stats" ng-if="!loading.character">
    <div class="base col-xs-3">
        <div class="stat-bar">
            <div class="fill" ng-style="{ width: ((character.characterBase.stats.STAT_ARMOR.value / 10) * 100) + '%' }"></div>
            <div class="info">
                <span class="value">{{character.characterBase.stats.STAT_ARMOR.value}}</span>
                <translate>Armor</translate>
            </div>
        </div>

        <div class="stat-bar">
            <div class="fill" ng-style="{ width: ((character.characterBase.stats.STAT_RECOVERY.value / 10) * 100) + '%' }"></div>
            <div class="info">
                <span class="value">{{character.characterBase.stats.STAT_RECOVERY.value}}</span>
                <translate>Recovery</translate>
            </div>
        </div>

        <div class="stat-bar">
            <div class="fill" ng-style="{ width: ((character.characterBase.stats.STAT_AGILITY.value / 10) * 100) + '%' }"></div>
            <div class="info">
                <span class="value">{{character.characterBase.stats.STAT_AGILITY.value}}</span>
                <translate>Agility</translate>
            </div>
        </div>
    </div>

    <div class="stat col-xs-3">
        <h4><i class="ggg ggg-intellect"></i> T{{statToTier(character.characterBase.stats.STAT_INTELLECT.value)}}</h4>
        <span><strong class="value">{{getSuperCooldown(character.characterBase.stats.STAT_INTELLECT.value, items)}}</strong> <translate>Super</translate></span>
    </div>

    <div class="stat col-xs-3">
        <h4><i class="ggg ggg-discipline"></i> T{{statToTier(character.characterBase.stats.STAT_DISCIPLINE.value)}}</h4>
        <span><strong class="value">{{getUtilityCooldown(character.characterBase.stats.STAT_DISCIPLINE.value)}}</strong> <translate translate-comment="Short for grenade">'Nade</translate></span>
    </div>

    <div class="stat col-xs-3">
        <h4><i class="ggg ggg-strength"></i> T{{statToTier(character.characterBase.stats.STAT_STRENGTH.value)}}</h4>
        <span><strong class="value">{{getUtilityCooldown(character.characterBase.stats.STAT_STRENGTH.value)}}</strong> <translate>Melee</translate></span>
    </div>

    <div class="clear"></div>
</div>

<div ng-if="loading.inventory" class="loading">
    <i class="fa fa-cog fa-spin"></i> <translate>Loading Items...</translate>
</div>

<div class="loadout" ng-if="!loading.inventory">
    <profile-items slots="subclass" items="items" definitions="definitions"></profile-items>
    <profile-items slots="primary,special,heavy" items="items" definitions="definitions"></profile-items>
    <profile-items slots="head,arm,chest,leg" is-exotic="true" items="items" definitions="definitions"></profile-items>
</div>

<div class="ad-placement profile-left">
    <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
    <!-- GGG-Profile-Left -->
    <ins class="adsbygoogle"
         style="display:block"
         data-ad-client="ca-pub-4988741679097321"
         data-ad-slot="7624815493"
         data-ad-format="auto"></ins>
    <script>
        (adsbygoogle = window.adsbygoogle || []).push({});
    </script>
</div>
