<table class="table table-striped history pgcr-table">
    <tr>
        <th style="width:5%" class="text-center" translate>Team</th>
        <th style="width:15%" translate>Guardian</th>
        <th style="width:8%" class="text-center">Elo</th>
        <th style="width:8%" class="text-center" translate>Score</th>
        <th style="width:5%" class="text-center" translate>K</th>
        <th style="width:5%" class="text-center" translate>D</th>
        <th style="width:5%" class="text-center" translate>A</th>
        <th style="width:5%" class="text-center" translate>K/D</th>
        <th style="width:10%" class="text-center" translate>Standing</th>
    </tr>
    <tr ng-repeat="entry in players" ng-class="characterId == entry.characterId ? 'highlight' : ''">
        <td class="text-center" ng-class="entry.values.team.basic.value == 16 ? 'alpha' : 'bravo'">
            {{ entry.values.team.basic.displayValue || '-' }}
        </td>
        <td ng-class="entry.values.team.basic.value == 16 ? 'alpha' : 'bravo'">
            <a ui-sref="app.profile({platform: entry.player.destinyUserInfo.membershipType, name: entry.player.destinyUserInfo.displayName})">
                {{ entry.player.destinyUserInfo.displayName }}
            </a>
        </td>
        <td class="text-center">{{ entry.elo.elo || '-' }}</td>
        <td class="text-center">{{ entry.values.score.basic.displayValue }} {{ entry.extended.values.combatRating.basic.displayValue }}</td>
        <td class="text-center">{{ entry.values.kills.basic.displayValue }}</td>
        <td class="text-center">{{ entry.values.deaths.basic.displayValue }}</td>
        <td class="text-center">{{ entry.values.assists.basic.displayValue }}</td>
        <td class="text-center">{{ entry.values.killsDeathsRatio.basic.displayValue }}</td>
        <td class="text-center">{{ entry.values.standing.basic.displayValue }}</td>
    </tr>
    <tr class="fairness" ng-if="teamElo.alpha > 0 && teamElo.bravo > 0">
        <td colspan="9" class="text-center">
            <h3 translate>Average Team Elo</h3>

            <i class="ggg ggg-alpha"></i>&nbsp;<translate>Alpha</translate>&nbsp;{{ teamElo.alpha ? teamElo.alpha : '-' }}
            <span ng-if="winner.values.team.basic.value == 16">&nbsp;<translate>(Winner)</translate>

            </span><translate>vs.</translate>&nbsp;

            <i class="ggg ggg-bravo"></i>&nbsp;<translate>Bravo</translate>&nbsp;{{ teamElo.bravo ? teamElo.bravo : '-' }}
            <span ng-if="winner.values.team.basic.value == 17">&nbsp;<translate>(Winner)</translate></span>
        </td>
    </tr>
</table>
