<div class="ad-leaderboard">
    <advert sizes="728x90,970x90,970x250"></advert>
</div>

<div class="changelog-header" ng-show="!loading && !invalid">
    <div class="title" translate>Destiny Patch Changelog</div>
    <div class="patch"><span translate>Version</span> {{ manifest.version }} <span class="patch-date">{{ manifest.createdAt|ago }}</span></div>
    <ul class="tabs">
        <li ng-repeat="type in types" ng-class="{'inactive': !type.total }">
            <span ng-show="type.total">
                <a ui-sref="app.changelog({type: type.slug, hash1: hash1, hash2: hash2})" ng-class="{'active': changelogType.table == type.table}">
                    {{ type.label }} ({{ type.total || 0 }})
                </a>
            </span>
            <span ng-show="!type.total">
                {{ type.label }} ({{ type.total || 0 }})
            </span>
        </li>
    </ul>
</div>

<div id="changelog" ng-show="!loading && !invalid">

</div>

<div class="ad-stack-bottom" ng-show="!invalid">
    <advert sizes="728x90,970x90,970x250,300x250,Unstacked 300x250"></advert>
</div>

<div class="changelog-comments" ng-show="!loading && !invalid">
    <div id="disqus_thread"></div>
</div>

<div class="loading" ng-show="loading">
    <i class="fa fa-cog fa-spin"></i> <translate>Loading changelog, please wait...</translate>
</div>

<div class="changelog-invalid" ng-show="invalid">
    <h3><i class="fa fa-warning"></i> <span translate>The changelog you're looking for does not exist</span></h3>
</div>
