# IDEs
.idea/
.vscode/

# Dev tools
gin-bin.exe~
gin-bin.exe
tmp/

# Client files
client/app/**/*.js
client/app/**/*.js.map
client/dist
client/node_modules/
client/npm-debug.log
client/typings/*
client/typings/browser*
client/typings/main*
!client/typings/guardian
client/src/*/*.js.map
client/src/*/*.js

# parser
parser/parser
parser/parser.exe

# other
npm-debug.log
/Data
*.exe
