<div class="ad-leaderboard dark">
    <advert sizes="728x90"></advert>
</div>

<h2>Current Season Elo</h2>
<div class="loading" ng-if="loading.elo || loading.eloHistory">
    <i class="fa fa-cog fa-spin"></i> <translate>Loading Elo Data...</translate>
</div>
<div class="no-data" ng-show="!loading.elo && elos.length == 0">
    <i class="fa fa-info-circle"></i> <translate>{{name}} hasn't completed enough games this season to show Elo</translate>
</div>
<div class="elo">
    <div class="ratings row" ng-if="elos.length > 0 && !loading.elo">
        <div ng-repeat="e in ::elos" class="col-xs-2 rating clickable" ng-style="{ 'background-color': e.rank > 0 ? e.league.colors.background : '#9c9c9c' }" ng-if="$index < 6" ng-click="setMode(e.mode)">
            <i class="ggg {{modeIcons[e.mode]}}"></i>
            <span ng-if="e.rank != -1">{{ e.elo|number:0 }}</span>
            <span ng-if="e.rank == -1">--</span>
            <div class="hidden-xs">{{modes[e.mode]}}</div>
            <div class="rank" ng-if="e.rank == -1" translate>Unranked</div>
            <div class="rank" ng-if="e.rank == -2" translate>Inactive</div>
            <div class="rank" ng-if="e.rank > 0">#{{e.rank|number}}</div>
            <div class="league" ng-style="{ 'background-color': e.rank > 0 ? e.league.colors.line : '#8a8a8a' }">{{e.rank > 0 ? e.league.label : 'Placing'}}</div>
        </div>
    </div>
    <div class="chart" ng-if="!loading.eloHistory && !eloChartEmpty">
        <highchart config="eloChart" style="height: 300px;"></highchart>
    </div>
</div>

<h2 ng-if="season">
    <div class="history-filters pull-right">
        <div class="dropdown">
            <button class="btn btn-default dropdown-toggle" type="button" id="seasonSelector" data-toggle="dropdown" aria-haspopup="true">
                <i class="fa fa-filter"></i> {{seasons[season].label}}
            </button>
            <ul class="dropdown-menu dropdown-menu-right" area-labelledby="seasonSelector">
                <li ng-if="seasonData[2]"><a href="javascript:;" ng-click="setSeason(2)"><translate>Season 2 - The Taken King</translate></a></li>
                <li ng-if="seasonData[1]"><a href="javascript:;" ng-click="setSeason(1)"><translate>Season 1 - The Taken King</translate></a></li>
                <li ng-if="!loading.srl && srl.length > 0"><a href="javascript:;" ng-click="setSeason('srl')"><translate>SRL Special Event</translate></a></li>
            </ul>
        </div>
    </div>

    Past Seasons/Events
</h2>

<div class="records" ng-if="season > 0">
    <div class="sub">{{ seasons[season].subtext }}</div>
    <table class="table table-striped table-record">
        <tr>
            <th>Rank</th>
            <th>Mode</th>
            <th>Elo</th>
            <th class="hidden-xs">Games</th>
            <th>Win%</th>
            <th class="hidden-xs">K</th>
            <th class="hidden-xs">D</th>
            <th class="hidden-xs">A</th>
            <th>K/D</th>
        </tr>
        <tr ng-repeat="season in seasonData[season]|orderBy: 'rank'" ng-hide="!showMoreRecords && $index >= 3">
            <td ng-if="season.rank">{{ season.rank|number  }}</td>
            <td ng-if="!season.rank">Parsing</td>
            <td>{{ modes[season.mode] }}</td>
            <td class="text-center record-elo elo-{{ season.league.label|lowercase }}" ng-style="{ 'background-color': season.league.colors.background }">{{ season.elo|number:0 }}</td>
            <td class="hidden-xs">{{ season.gamesPlayed|number  }}</td>
            <td>{{ (season.wins * 100) / (season.gamesPlayed || 1)|number:1  }}%</td>
            <td class="hidden-xs">{{ season.kills|number  }}</td>
            <td class="hidden-xs">{{ season.deaths|number  }}</td>
            <td class="hidden-xs">{{ season.assists|number }}</td>
            <td>{{ season.kills / (season.deaths || 1)|number:2 }}</td>
        </tr>
    </table>
    <button class="btn btn-default" ng-if="!showMoreRecords && seasonData[season].length > 3" ng-click="revealRecords()">
        <i class="fa fa-sort-desc"></i> Show {{ seasonData[season].length - 3 }} more <i class="fa fa-sort-desc"></i>
    </button>
</div>

<div class="records" ng-if="season == 'srl'">
    <div class="sub">{{ seasons[season].subtext }}</div>
    <div class="srl-times row" ng-show="srl.length > 0">
        <div class="col-sm-6 map" ng-repeat="race in srl">
            <div class="name">
                {{srlMaps[race.activityHash]}}
            </div>
            <div class="row srl-stats">
                <div class="col-sm-6 stat">
                    <span class="value">{{race.time|timeTrial}}</span>
                    <span class="type" translate>Best Time</span>
                </div>
                <div class="col-sm-6 stat">
                    <span class="value">{{race.gates|number}}</span>
                    <span class="type" translate>Best Gates</span>
                </div>
            </div>
            <div class="rank" ng-if="race.rank > 0"><span translate>Ranked</span> #{{race.rank|number}}</div>
            <div class="rank" ng-if="!race.rank || race.rank <= 0"><span translate>Not Ranked</span></div>
        </div>
    </div>
</div>

<h2 ng-if="!legacy">
    <div class="history-filters pull-right">
        <div class="dropdown">
            <button class="btn btn-default dropdown-toggle" type="button" id="modeSelector" data-toggle="dropdown" aria-haspopup="true">
                <i class="fa fa-filter"></i> <strong translate>Game mode:</strong> {{modes[mode] || 'All'|translate}}
            </button>
            <ul class="dropdown-menu dropdown-menu-right" area-labelledby="modeSelector">
                <li><a href="javascript:;" ng-click="setMode(5)"><translate>All</translate></a></li>
                <li role="seperator" class="divider"></li>
                <li><a href="javascript:;" ng-click="setMode(14)"><i class="ggg ggg-osiris"></i> <translate>Trials of Osiris</translate></a></li>
                <li><a href="javascript:;" ng-click="setMode(19)"><i class="ggg ggg-iron-banner"></i> <translate>Iron Banner</translate></a></li>
                <li><a href="javascript:;" ng-click="setMode(34)"><i class="ggg ggg-supremacy"></i> <translate>Supremacy</translate></a></li>
                <li><a href="javascript:;" ng-click="setMode(10)"><i class="ggg ggg-control"></i> <translate>Control</translate></a></li>
                <li><a href="javascript:;" ng-click="setMode(12)"><i class="ggg ggg-clash"></i> <translate>Clash</translate></a></li>
                <li><a href="javascript:;" ng-click="setMode(24)"><i class="ggg ggg-rift"></i> <translate>Rift</translate></a></li>
                <li><a href="javascript:;" ng-click="setMode(13)"><i class="ggg ggg-rumble"></i> <translate>Rumble</translate></a></li>
                <li><a href="javascript:;" ng-click="setMode(23)"><i class="ggg ggg-elimination"></i> <translate>Elimination</translate></a></li>
                <li><a href="javascript:;" ng-click="setMode(9)"><i class="ggg ggg-skirmish"></i> <translate>Skirmish</translate></a></li>
                <li><a href="javascript:;" ng-click="setMode(11)"><i class="ggg ggg-salvage"></i> <translate>Salvage</translate></a></li>
                <li><a href="javascript:;" ng-click="setMode(15)"><i class="ggg ggg-doubles"></i> <translate>Doubles</translate></a></li>
                <li><a href="javascript:;" ng-click="setMode(28)"><i class="ggg ggg-control"></i> <translate>Zone Control</translate></a></li>
                <li><a href="javascript:;" ng-click="setMode(29)"><i class="ggg ggg-srl"></i> <translate>SRL</translate></a></li>
            </ul>
        </div>
    </div>
    <span translate>Match History</span>
</h2>

<div class="loading" ng-show="loading.fireteam && !legacy">
    <i class="fa fa-cog fa-spin"></i> <translate>Loading Fireteam...</translate>
</div>
<div class="fireteam row" ng-show="fireteam.length > 0 && !legacy">
    <h4 translate>Recent Fireteam</h4>
    <div class="col-sm-2 member" ng-repeat="row in fireteam" ng-show="row.name != name">
        <div class="details">
            <a ui-sref="app.profile({name: row.name, platform: row.membershipType})" class="name">
                {{ row.name }}
            </a>
            <span class="clan" ng-show="row.clanTag">[{{ row.clanTag }}]</span>
            <span class="clan none" ng-show="!row.clanTag">[No Clan]</span>
        </div>
    </div>
</div>

<div class="empty" ng-show="maintenance.activityHistory">
    <i class="fa fa-warning"></i> <translate>The match history is unavailable due to an API error</translate>
</div>
<div class="loading" ng-show="loading.activityHistory && !legacy">
    <i class="fa fa-cog fa-spin"></i> <translate>Loading Game History...</translate>
</div>
<div infinite-scroll="loadMoreHistory" ng-if="!legacy">
    <table class="table table-striped history noselect" ng-if="activities && !loading.activityHistory">
        <tr>
            <th style="width:15%">Played</th>
            <th style="width:20%" class="hidden-xs" translate>Map</th>
            <th style="width:8%" class="text-center" translate>Score</th>
            <th style="width:5%" class="text-center" translate>K</th>
            <th style="width:5%" class="text-center" translate>D</th>
            <th style="width:5%" class="text-center hidden-xs" translate>A</th>
            <th style="width:5%" class="text-center" translate>K/D</th>
            <th style="width:10%" class="text-center" translate>Standing</th>
            <th style="width:1%" class="text-center"></th>
        </tr>
        <tr ng-repeat="activity in activities track by activity.activityDetails.instanceId">
            <td class="clickable">{{ activity.period|ago }}</td>
            <td class="clickable hidden-xs">
                <i class="ggg {{modeIcons[activity.activityDetails.mode]}}"></i> {{ activity.definition.activityName }}
            </td>
            <td class="text-center clickable" ng-show="activity.activityDetails.mode == 29">{{ activity.values.raceCompletionMilliseconds.basic.displayValue }}</td>
            <td class="text-center clickable" ng-show="activity.activityDetails.mode != 29">{{ activity.values.score.basic.displayValue }}</td>
            <td class="text-center clickable">{{ activity.values.kills.basic.displayValue }}</td>
            <td class="text-center clickable">{{ activity.values.deaths.basic.displayValue }}</td>
            <td class="text-center clickable hidden-xs">{{ activity.values.assists.basic.displayValue }}</td>
            <td class="text-center clickable" ng-class="activity.values.killsDeathsRatio.basic.value < 1 ? 'kd negative' : 'kd positive'">
                {{ activity.values.killsDeathsRatio.basic.displayValue }}
            </td>
            <td class="text-center clickable" ng-class="activity.values.standing.basic.value == 0 || activity.values.standing.basic.displayValue == '1' ? 'standing positive' : 'standing negative'">
                {{ activity.values.standing.basic.displayValue }}
            </td>
            <td class="text-center external clickable">
                <i class="fa fa-plus-square-o" pgcr instance-id="activity.activityDetails.instanceId" character-id="character.characterBase.characterId"></i>
            </td>
        </tr>
        <tr ng-if="activities.length == 0">
            <td colspan="9" class="no-data" translate>{{name}} hasn't played any games in this mode.</td>
        </tr>
    </table>
</div>
