<div class="loading" ng-if="loading.character">
    <i class="fa fa-cog fa-spin"></i> <translate>Loading Characters...</translate>
</div>

<div class="emblem" ng-style="{'background-image':'url(//www.bungie.net/' + character.backgroundPath + ')'}" ng-if="!loading.character && !legacy">
    <img ng-src="{{'//www.bungie.net/' + character.emblemPath}}" />
    <span class="name">{{name}}</span>
    <span class="class">{{classes[character.characterBase.classHash]}}</span>
    <span class="light">{{ character.characterBase.powerLevel }}</span>
    <span class="grimoire"><i class="ggg ggg-grimoire"></i> {{character.characterBase.grimoireScore}}</span>
</div>

<div class="emblem" ng-style="{'background-image':'url(/asset/image/emblem_legacy.jpg)'}" ng-if="!loading.character && legacy">
    <img src="/asset/image/icon_legacy.jpg" />
    <span class="name">{{name}}</span>
    <span class="class">Legacy Account</span>
</div>

<div class="legacy-notice" ng-if="legacy">
    <i class="fa fa-warning"></i>
    This is a legacy <span ng-if="platform === 1">Xbox 360</span><span ng-if="platform === 2">PS3</span>
    account. Bungie made the decision to no longer support legacy accounts in the API with the launch of Rise of Iron.
    We can't retrieve the match history or character information due to this change. We still collect individual match
    data so we're able to calculate Elo and continue to display it here. If the account owner upgrades to a
    <span ng-if="platform === 1">Xbox One</span><span ng-if="platform === 2">PS4</span> copy,
    this page will automatically be upgraded with all of the standard profile details.
</div>

<div ng-if="characters && characters.length > 1 && !legacy" class="alts">
    <div ng-repeat="c in ::characters" ng-click="changeCharacter($index)" class="alt-character col-xs-4" ng-style="{'background-image':'url(//www.bungie.net/' + c.backgroundPath + ')'}">
        <div class="info">
            {{classes[c.characterBase.classHash]}} <span class="light">{{c.characterBase.powerLevel}}</span>
        </div>
    </div>
</div>

<div class="clear"></div>

<div class="stats" ng-show="!loading.character && !legacy">
    <div class="base col-xs-3">
        <div class="stat-bar">
            <div class="fill" ng-style="{ width: ((character.characterBase.stats.STAT_ARMOR.value / 10) * 100) + '%' }"></div>
            <div class="info">
                <span class="value">{{character.characterBase.stats.STAT_ARMOR.value}}</span>
                <translate>Armor</translate>
            </div>
        </div>

        <div class="stat-bar">
            <div class="fill" ng-style="{ width: ((character.characterBase.stats.STAT_RECOVERY.value / 10) * 100) + '%' }"></div>
            <div class="info">
                <span class="value">{{character.characterBase.stats.STAT_RECOVERY.value}}</span>
                <translate>Recovery</translate>
            </div>
        </div>

        <div class="stat-bar">
            <div class="fill" ng-style="{ width: ((character.characterBase.stats.STAT_AGILITY.value / 10) * 100) + '%' }"></div>
            <div class="info">
                <span class="value">{{character.characterBase.stats.STAT_AGILITY.value}}</span>
                <translate>Agility</translate>
            </div>
        </div>
    </div>

    <div class="stat col-xs-3">
        <h4><i class="ggg ggg-intellect"></i> T{{statToTier(character.characterBase.stats.STAT_INTELLECT.value)}}</h4>
        <span><strong class="value">{{getSuperCooldown(character.characterBase.stats.STAT_INTELLECT.value, items)}}</strong> <translate>Super</translate></span>
    </div>

    <div class="stat col-xs-3">
        <h4><i class="ggg ggg-discipline"></i> T{{statToTier(character.characterBase.stats.STAT_DISCIPLINE.value)}}</h4>
        <span><strong class="value">{{getUtilityCooldown(character.characterBase.stats.STAT_DISCIPLINE.value)}}</strong> <translate translate-comment="Short for grenade">'Nade</translate></span>
    </div>

    <div class="stat col-xs-3">
        <h4><i class="ggg ggg-strength"></i> T{{statToTier(character.characterBase.stats.STAT_STRENGTH.value)}}</h4>
        <span><strong class="value">{{getUtilityCooldown(character.characterBase.stats.STAT_STRENGTH.value)}}</strong> <translate>Melee</translate></span>
    </div>

    <div class="clear"></div>
</div>

<div ng-if="loading.inventory && !legacy" class="loading">
    <i class="fa fa-cog fa-spin"></i> <translate>Loading Items...</translate>
</div>

<div class="loadout" ng-if="!loading.inventory && !legacy">
    <profile-items slots="subclass" items="items" definitions="definitions"></profile-items>
    <profile-items slots="primary,special,heavy" items="items" definitions="definitions"></profile-items>
    <profile-items slots="head,arm,chest,leg" is-exotic="true" items="items" definitions="definitions"></profile-items>
</div>

<div class="mobile-square" ng-show="isMobile">
    <advert sizes="300x250,320x50"></advert>
</div>
