<div class="notice-body agora with-icon">
    <a href="http://agora.gg"><img src="/asset/image/notice/agora-icon.png" class="icon" /></a>
    <h2><a href="http://agora.gg" translate>We've expanded our network for "Paragon"</a></h2>
    <p translate>
        Support for Epic Games' new MOBA Paragon has been added to our platform, and we welcome you to give it a try
        at <a href="http://agora.gg">Agora.gg</a>.
    </p>
    <p translate>
        See the features in action on <a href="http://agora.gg/profile/datguylorik">Lirik's profile</a>.
    </p>
</div>
