<div class="notice-body crimson-days with-icon">
    <a ui-sref="app.changelog({hash1: 'ccf82677a7f6df2909d520b8d7b146ad', hash2: '7514fc765ba3e52bd7ea0dff8df7671e', type: 'item'})"><img src="/asset/image/notice/crimson-days.jpg" /></a>
    <h2><a ui-sref="app.changelog({hash1: 'ccf82677a7f6df2909d520b8d7b146ad', hash2: '7514fc765ba3e52bd7ea0dff8df7671e', type: 'item'})" translate>'Crimson Days' Patch Changelog</a></h2>
    <p translate>
        The February update has arrived, and with it we've compiled a list of all changes in the item database.
    </p>
    <p translate>Check out the new shells, emblems, emotes and more in the <a ui-sref="app.changelog({hash1: 'ccf82677a7f6df2909d520b8d7b146ad', hash2: '7514fc765ba3e52bd7ea0dff8df7671e', type: 'item'})">changelog for patch 48604.16.01.24.1344-20</a>.</p>
</div>
