<div class="notice-body new-feature with-icon">
    <img src="/asset/image/notice/airguitar.jpg" />
    <h2 translate>Item Database Launched!</h2>
    <p translate>
        We're excited to welcome you to try out the newest feature on Guardian.gg. We hope you'll find the high level of
        filtering and stats within our item database useful.
    </p>
    <p class="item-launch-link-bar">
        <span translate>Give some categories a try:</span>
        <a ui-sref="app.itemList({primary: 'weapon', secondary: null})" translate>Weapons</a>
        <span class="divider">|</span>
        <a ui-sref="app.itemList({primary: 'armor', secondary: null})" translate>Armor</a>
        <span class="divider">|</span>
        <a ui-sref="app.itemList({primary: 'emblem', secondary: null})" translate>Emblem</a>
    </p>
</div>
