<div class="notice-body pve with-icon">
    <img src="/asset/image/notice/bounty.jpg" class="icon" />
    <h2>Weekly Competitive PvE is Here!</h2>
    <p translate>
        "The Dawning" patch has landed, and with it we've released new PvE leaderboards here on Guardian.gg. Complete
        strikes fast with a high medal score to take it down. On Tuesday at reset time, the 50 players with the highest
        rating for each strike (normal, heroic and nightfall) will get permanent profile badges.
    </p>
    <p translate>
        Read more about it on the <a ui-sref="app.faq">FAQ</a>, or check out the
        <a ui-sref="app.strike({ 'period': 'weekly', 'mode': 3, 'referenceId': 3373044013, 'platform': 1, 'page': 0 })">Xbox</a> /
        <a ui-sref="app.strike({ 'period': 'weekly', 'mode': 3, 'referenceId': 3373044013, 'platform': 2, 'page': 0 })">PS4</a> leaderboards.
    </p>
</div>
