<div class="notice-body season with-icon">
    <img src="/asset/image/notice/airguitar.jpg" class="icon" />
    <h2>Guardian.gg Season 3 "Rise of Iron" is Underway!</h2>
    <p translate>
        We have performed an Elo reseed which has brought you closer to the baseline of your previous season's rank.
        All other stats have been reset and archived in the past seasons section of your profile.
    </p>
    <p translate>
        Get out there and enjoy Rise of Iron! We hope to see you on top of the leaderboards soon.
    </p>
</div>
