<div class="notice-body season with-icon">
    <img src="/asset/image/notice/airguitar.jpg" class="icon" />
    <h2>Guardian.gg Season 3 "Rise of Iron" Begins September 20th</h2>
    <p translate>
        We are performing an Elo reseed which will bring you closer to the baseline of your current rank for the new
        season. All other stats will be reset and archived in the past seasons section of your profile. This process
        will take several hours to complete, during which time no Elo will be calculated. Once the reset is complete, we will
        resume Elo calculation from the expansion launch time of 9am UTC, so no progress towards your new Elo will be lost.
    </p>
    <p translate>
        Get out there and enjoy Rise of Iron! We hope to see you on top of the leaderboards soon.
    </p>
</div>
