<div class="notice-body season with-icon">
    <img src="/asset/image/notice/airguitar.jpg" class="icon" />
    <h2>Guardian.gg Season 2 Begins April 12th</h2>
    <p translate>
        Coinciding with the big April patch, we are archiving all of the stats accrued from TTK launch until now, and
        launching a new season of our Elo.
    </p>
    <p translate>
        Upon reset, a permanent snapshot of your Season 1 stats and rankings will be available on your profile.
        Good luck in S2!
    </p>
</div>
