<div class="notice-body trials-stream with-icon">
    <a href="http://twitch.tv/Sneakerheadbsj"><img src="/asset/image/notice/trials.jpg" class="icon" /></a>
    <h2><a href="http://twitch.tv/Sneakerheadbsj" translate>Mar 11-12: "Trials for Down Syndrome" Charity Stream <img src="/asset/image/notice/ds.png" class="down-syndrome-ribbon" /></a></h2>
    <p translate>
        Please join Destiny community member <a href="http://twitch.tv/Sneakerheadbsj" translate>SneakerheadBSJ</a>
        on Twitch during a 24 hour charity live stream of <em>Trials of Osiris</em> starting 10pm EST on March 11th.
    </p>
    <p translate>All donations made during the event will go to the <a href="http://www.globaldownsyndrome.org/">Global Down Syndrome Foundation</a>.</p>
</div>
