<div class="notice-body watcher with-icon">
    <a href="https://watcher.gg"><img src="/asset/image/notice/watcher-icon.png" class="icon" /></a>
    <h2><a href="https://watcher.gg" translate>We've expanded our network for "Overwatch"</a></h2>
    <p translate>
        Support for Blizzard's new hit FPS Overwatch has been added to our platform, and we welcome you to give it a try
        at <a href="https://watcher.gg">Watcher.gg</a>.
    </p>
    <p translate>
        Features include leaderboards, stat tracking and player profiles.
    </p>
</div>
