.leaderboard {
    tr {
        th {

        }
        td {
            background-color: #fff;
            max-width: 100px;
            white-space: nowrap;
            overflow: hidden !important;
            text-overflow: ellipsis;
        }
        td.leaderboard-elo {
            color: #fff;
            font-size: 16px !important;
        }
    }
}

.leaderboard.leaderboard-full {
    tr {
        th {
            background-color: #414141;
            color: #fff;
            padding: 4px;
            font-size: 14px;
        }
        td {
            padding: 4px;
            font-size: 14px;

            &.leaderboard-name {
                a {
                    font-weight: bold;
                }
            }

            &.leaderboard-clan {
                color: #999;
            }
        }
    }
}

.highlight {
    td {
        background-color: #FFF6CB !important;

        &.leaderboard-elo {
            background-color: #F79100 !important;
        }
    }
}

.leaderboard.leaderboard-home {
    margin-bottom:5px;

    tr {
        th {
            font-size: 11px;
            padding: 3px;
            font-weight: normal;
        }
        td {
            font-size: 13px;
            padding: 3px;

            &.leaderboard-elo {
                font-size: 13px !important;
            }

            span.leaderboard-clan {
                font-size: 10px;
                color: #999;
            }
        }
    }
}

.leaderboard-platform {
    font-size: 16px;
    background: #414141;
    color: #fff;
    padding: 10px;
    margin-bottom:10px;
    border-bottom: 10px solid #E9E9E9;

    i {
        padding-right: 4px;
    }
}

.leaderboard-platform-wrapper {
    background-color: #fff;
}

.leaderboard-wrapper.leaderboard-wrapper-home {
    h4 {
        text-align: left;
        font-size: 16px;
        font-weight: 400;
        margin: 0;
        padding: 5px 0;
    }
}


.leaderboard-more {
    margin-bottom: 10px;

    a {
        display: block;
        font-weight: bold;
        padding: 5px;
        font-size: 12px;
        color: #3D749C;
        background: #F5F5F5;
        text-decoration: none;
        border-bottom: 1px solid #D4D4D4;

        &:hover {
            background: #dddddd;
        }
    }
}

.elo-rating {
    display: inline-block;
}

.elo-rating-diamond {
    color: #315FB3;
}

.elo-rating-diamond:before {
    color: #6299FF;
    font: normal normal normal 14px/1 FontAwesome;
    vertical-align: middle;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    content: "\f091\00a0";
}

@media screen and (max-width: 480px) {
    .filters {

    }
}

@media screen and (max-width: 991px) {
    .filters {
        .pg {
            float: none !important;
            text-align: center;
            width: 100%;
            margin: 10px 0;

            button {
                float: none !important;
                height: 34px;
            }
        }

        input, select {
            display: block !important;
            width: 100% !important;
            margin-bottom: 5px;
        }
    }
}
