<div class="ad-leaderboard">
    <advert sizes="728x90,970x90,970x250"></advert>
</div>

<div class="featured hidden-xs" ng-if="totalPlayers">
    <span translate>Real-time stats for <em>{{totalPlayers|number}}</em> Destiny players</span>
    <span translate><em>{{totalPlayers24|number}}</em> tracked in the past day</span>
</div>

<div class="row home-leaderboards">
    <div ng-repeat="(platform, modeData) in featured" class="col-md-6">
        <div class="leaderboard-platform-wrapper">
            <div class="leaderboard-platform">
                <i ng-class="platform == 1 ? 'ggg ggg-platform-xbox' : 'ggg ggg-platform-ps'"></i>
                <translate>Top {{platforms[platform]}} Guardians</translate>
            </div>
            <div ng-if="modeData.length == 0" class="no-data">
                <i class="fa fa-info-circle"></i> There are insufficient games played in this
                season to show leaderboards. Check back soon!
            </div>
            <div ng-repeat="data in modeData" class="col-sm-6 leaderboard-wrapper leaderboard-wrapper-home">
                <h4 class="col-xs-12 text-center">
                    <i class="ggg ggg-{{modes[data.mode]|lowercase}}"
                       ng-class="{'ggg-iron-banner':data.mode == 19, 'ggg-osiris':data.mode == 14}">
                    </i> {{modes[data.mode]}}
                </h4>
                <table class="table table-striped leaderboard leaderboard-home">
                    <tr>
                        <th style="width:5%"></th>
                        <th translate>Name</th>
                        <th style="width:5%" class="text-center">Elo</th>
                    </tr>
                    <tr ng-repeat="(rank, row) in data.players">
                        <td class="leaderboard-rank">#{{rank+1}}</td>
                        <td>
                            <a ui-sref="app.profile({platform: row.membershipType, name: row.name})" ng-style="{ 'color': row.league.colors.background }">
                                {{row.name}}
                            </a>
                            <span class="leaderboard-clan" ng-show="row.clanTag">[{{row.clanTag}}]</span>
                        </td>
                        <td class="text-center leaderboard-elo elo-{{ row.league.label|lowercase }}" ng-style="{ 'background-color': row.league.colors.background }">{{row.elo|number:0}}</td>
                    </tr>
                </table>
                <div class="text-right leaderboard-more">
                    <a ui-sref="app.leaderboard({platform: platform, mode: data.mode})">
                        <translate>More</translate>&nbsp;<i class="fa fa-arrow-right"></i>
                    </a>
                </div>
            </div>
            <div class="clear"></div>
        </div>

        <div class="mobile-square" ng-show="isMobile && platform == 1">
            <advert sizes="300x250,320x50"></advert>
        </div>
    </div>
</div>
