<div class="ggg-head ggg-tier-<%= tier %>">
    <img src="//bungie.net<%= icon %>">
    <div class="ggg-head-content">
        <div class="ggg-name"><%= name %></div>
        <div class="ggg-tier"><%= tierName %></div>
        <div class="ggg-type"><%= typeName %></div>
    </div>
</div>

<div class="ggg-body">

    <% if (_primaryStats.attack && _primaryStats.attack.min > 0) { %>
        <div class="ggg-primary ggg-damage-<%= _damageType %>">
            <% if (_primaryStats.attack.min === _primaryStats.attack.max) { %>
                <span class="ggg-value"><%= _primaryStats.attack.min %></span>
            <% } else { %>
                <span class="ggg-value"><%= _primaryStats.attack.min %>-<%= _primaryStats.attack.max %></span>
            <% } %>
            <span class="ggg-value-label"><%= _primaryStats.attack.name %></span>
        </div>
    <% } else if (_primaryStats.defense && _primaryStats.defense.min > 0) { %>
        <div class="ggg-primary ggg-defense">
            <% if (_primaryStats.defense.min === _primaryStats.defense.max) { %>
                <span class="ggg-value"><%= _primaryStats.defense.min %></span>
            <% } else { %>
                <span class="ggg-value"><%= _primaryStats.defense.min %>-<%= _primaryStats.defense.max %></span>
            <% } %>
            <span class="ggg-value-label"><%= _primaryStats.defense.name %></span>
        </div>
    <% } %>

    <div class="ggg-lore">
        <%= description %>
    </div>

    <% if (_displayStats.length > 0) { %>
        <div class="ggg-stats">
            <% _.each(_displayStats, function(stat) { %>
                <%= stat.name %>
            <% }); %>
        </div>
    <% } %>

    <% if (_perks.length > 0) { %>
        <div class="ggg-perks">
            <% _.each(_perks, function(perk) { %>
                <%= perk.name %>
            <% }); %>
        </div>
    <% } %>

</div>
