<div class="ggg-head ggg-tier-<%= tier %>">
    <img src="//www.bungie.net<%= icon %>">
    <div class="ggg-head-content">
        <div class="ggg-name"><%= name %></div>
        <div class="ggg-tier"><%= tierName %></div>
        <div class="ggg-type"><%= typeName %></div>
    </div>
</div>

<div class="ggg-body"<% if (isMobile) { %> style="max-height: <%= viewportHeight - 150 %>px;overflow: auto"<% } %>>

    <% if (_primaryStats.attack && _primaryStats.attack.min > 0) { %>
        <div class="ggg-primary ggg-type-<%= _damageType %>">
            <i class="ggg ggg-damage-<%= _damageType %>"></i>
            <% if (_primaryStats.attack.min === _primaryStats.attack.max) { %>
                <span class="ggg-value"><%= _primaryStats.attack.min %></span>
            <% } else { %>
                <span class="ggg-value"><%= _primaryStats.attack.min %>-<%= _primaryStats.attack.max %></span>
            <% } %>
            <span class="ggg-value-label"><%= _primaryStats.attack.name %></span>
        </div>
    <% } else if (_primaryStats.defense && _primaryStats.defense.min > 0) { %>
        <div class="ggg-primary">
            <i class="ggg ggg-defense"></i>
            <% if (_primaryStats.defense.min === _primaryStats.defense.max) { %>
                <span class="ggg-value"><%= _primaryStats.defense.min %></span>
            <% } else { %>
                <span class="ggg-value"><%= _primaryStats.defense.min %>-<%= _primaryStats.defense.max %></span>
            <% } %>
            <span class="ggg-value-label"><%= _primaryStats.defense.name %></span>
        </div>
    <% } %>

    <% if (description) { %>
        <div class="ggg-lore">
            <%= description %>
        </div>
    <% } %>

    <% if (_displayStats.length > 0) { %>
        <div class="ggg-divider"></div>

        <div class="ggg-stats">
            <% _.each(_displayStats, function(stat) { %>
                <div class="ggg-stat">
                    <div class="ggg-name"><%= stat.name %></div>
                    <% if (stat.min === stat.max) { %>
                        <div class="ggg-value"><%= stat.min %></div>
                        <div class="ggg-bar">
                            <div class="ggg-fill" style="width:<%= stat.minPercent %>%"></div>
                        </div>
                    <% } else { %>
                        <div class="ggg-value"><%= stat.min %>-<%= stat.max %></div>
                        <div class="ggg-bar">
                            <div class="ggg-fill-max" style="width:<%= stat.maxPercent %>%"></div>
                            <div class="ggg-fill-min" style="width:<%= stat.minPercent %>%"></div>
                        </div>
                    <% } %>
                </div>
            <% }); %>
        </div>
    <% } %>

    <% if (_perks.length > 0) { %>
        <div class="ggg-divider"></div>

        <div class="ggg-perks">
            <% _.each(_perks, function(perk) { %>
                <div class="ggg-perk">
                    <img src="//www.bungie.net<%= perk.icon %>">
                    <div class="ggg-perk-info">
                        <div class="ggg-name"><%= perk.name %></div>
                        <div class="ggg-description"><%= perk.description %></div>
                    </div>
                </div>
            <% }); %>
        </div>
    <% } %>
</div>


<% if (isMobile) {
    var url = '/' + [locale, 'items', hash].join('/');

    if (!local) {
    url = "https://guardian.gg" + url;
}
%>
<div class="ggg-mobile-links">
    <a href="<%= url %>" class="ggg-mobile-link-details">More Info (Guardian.gg)</a>
    <a href="javascript:" class="ggg-mobile-link-close" onclick="gggTips.tips[<%= hash %>].hide()">Close Tooltip</a>
</div>
<% } %>
