<div class="filters">
    <pagination data="results" name="'Items'|translate" callback="load" ng-if="results.data.length > 0" class="pull-right"></pagination>

    <!-- add bucket/tier filters here -->

    <input type="text"
           ng-model="name"
           ng-model-options="{debounce: 500}"
           ng-change="search(name)"
           class="form-control filter-name"
           placeholder="Item name..."/>
</div>

<div class="item-list">
    <table class="item-list-fixed">
        <tr>
            <th translate>Name</th>
        </tr>
        <tr ng-repeat="entity in results.data">
            <td>
                <img ng-src="//bungie.net{{entity.icon}}">
                <div class="details">
                    <a ui-sref="app.itemDetailName({hash: entity.hash, name: entity.name})" ng-class="'quality-' + entity.tier">{{entity.name}}</a>
                    <small>{{entity.typeName}}</small>
                </div>
            </td>
        </tr>
    </table>
    <div class="item-list-scrollable" scrollable>
        <table>
            <tr>
                <th ng-repeat="column in columns">{{column.name}}</th>
            </tr>
            <tr ng-repeat="entity in results.data">
                <td ng-repeat="stat in entity.stats">
                    <span ng-if="stat.min !== stat.max">{{stat.min}}-{{stat.max}}</span>
                    <span ng-if="stat.min === stat.max && stat.min !== 0">{{stat.min}}</span>
                    <span ng-if="stat.min === stat.max && stat.min === 0">-</span>
                </td>
            </tr>
        </table>
    </div>
</div>
