<div class="filters">
    <pagination data="results" name="'Items'|translate" callback="listService.setPage" ng-if="results.data.length > 0" class="pull-right"></pagination>

    <select class="form-control" ng-change="listService.filterByType('primary', filters.type.primary)" ng-model="filters.type.primary">
        <optgroup label="{{'Active Gear'|translate}}">
            <option ng-repeat="type in typeLists.primary|filter:{group: 'equip_stat'}" value="{{type.slug}}">{{type.label}}</option>
        </optgroup>
        <optgroup label="{{'Passive Gear'|translate}}">
            <option ng-repeat="type in typeLists.primary|filter:{group: 'equip_passive'}" value="{{type.slug}}">{{type.label}}</option>
        </optgroup>
        <optgroup label="{{'Inventory'|translate}}">
            <option ng-repeat="type in typeLists.primary|filter:{group: 'inventory'}" value="{{type.slug}}">{{type.label}}</option>
        </optgroup>
        <optgroup label="{{'Special Event'|translate}}">
            <option ng-repeat="type in typeLists.primary|filter:{group: 'event'}" value="{{type.slug}}">{{type.label}}</option>
        </optgroup>
    </select>&nbsp;

    <select class="form-control" ng-change="listService.filterByType('secondary', filters.type.secondary)" ng-model="filters.type.secondary" ng-show="filters.type.primary && typeLists.secondary && typeLists.secondary.length > 0">
        <option value=""></option>
        <option ng-repeat="type in typeLists.secondary" value="{{type.slug}}">{{type.label}}</option>
    </select>&nbsp;

    <select class="form-control" ng-change="listService.filterByType('tertiary', filters.type.tertiary)" ng-model="filters.type.tertiary" ng-show="filters.type.secondary && typeLists.tertiary && typeLists.tertiary.length > 0">
        <option value=""></option>
        <option ng-repeat="type in typeLists.tertiary" value="{{type.slug}}">{{type.label}}</option>
    </select>&nbsp;

    <select class="form-control" ng-change="load()" ng-model="filters.class">
        <option value=""></option>
        <option value="0">Titan</option>
        <option value="1">Hunter</option>
        <option value="2">Warlock</option>
    </select>

    <input type="text"
           ng-model="name"
           ng-model-options="{debounce: 500}"
           ng-change="search(name)"
           class="form-control filter-name"
           placeholder="Item name..."/>
</div>

<div class="item-list">
    <table class="item-list-fixed">
        <tr>
            <th translate>Name</th>
        </tr>
        <tr ng-repeat="entity in results.data track by entity.hash">
            <td>
                <img ng-src="//bungie.net{{entity.icon}}">
                <div class="details">
                    <a ui-sref="app.itemDetailName({hash: entity.hash, name: slugify(entity.name)})" ng-class="'quality-' + entity.tier">{{::entity.name}}</a>
                    <small>{{entity.typeName}}</small>
                </div>
            </td>
        </tr>
    </table>
    <div class="item-list-scrollable" scrollable>
        <table>
            <tr>
                <th ng-repeat="col in columns">{{col.name}}</th>
            </tr>
            <tr ng-repeat="entity in results.data track by entity.hash">
                <td ng-repeat="col in columns">
                    <span ng-if="entity._stats[col.hash] && entity._stats[col.hash].min !== entity._stats[col.hash].max">{{entity._stats[col.hash].min}}-{{entity._stats[col.hash].max}}</span>
                    <span ng-if="entity._stats[col.hash] && entity._stats[col.hash].min === entity._stats[col.hash].max && entity._stats[col.hash].min !== 0">{{entity._stats[col.hash].min}}</span>
                    <span ng-if="!entity._stats[col.hash] || (entity._stats[col.hash].min === entity._stats[col.hash].max && entity._stats[col.hash].min === 0)">-</span>
                </td>
            </tr>
        </table>
    </div>
</div>
