<div class="filters">
    <div class="btn-group pull-right pg" ng-if="!loading.leaderboard">
        <button type="button"
                class="btn btn-default"
                ng-disabled="page == 0"
                ng-click="load(platform, mode, 0)">
            <i class="fa fa-angle-double-left visible-xs visible-sm"></i>
            <span class="visible-md visible-lg" translate>First</span>
        </button>
        <button type="button"
                class="btn btn-default"
                ng-disabled="page - 1 <= 0"
                ng-click="load(platform, mode, page - 1)">
            <i class="fa fa-angle-left visible-xs visible-sm"></i>
            <span class="visible-md visible-lg" translate>Prev</span>
        </button>
        <button class="btn btn-disabled page-info" translate>
            Page {{page+1|number}} of {{pageTotal+1|number}}<span>{{total|number}} Guardians</span>
        </button>
        <button type="button"
                class="btn btn-default"
                ng-disabled="page >= pageTotal"
                ng-click="load(platform, mode, page + 1)">
            <i class="fa fa-angle-right visible-xs visible-sm"></i>
            <span class="visible-md visible-lg" translate>Next</span>
        </button>
        <button type="button"
                class="btn btn-default"
                ng-disabled="page == pageTotal"
                ng-click="load(platform, mode, pageTotal)">
            <i class="fa fa-angle-double-right visible-xs visible-sm"></i>
            <span class="visible-md visible-lg" translate>Last</span>
        </button>
    </div>

    <select ng-options="key*1 as value for (key, value) in platforms"
            ng-model="platform"
            ng-change="load(platform, mode)"
            class="form-control filter-platform">
    </select>&nbsp;
    <select ng-options="key*1 as value for (key, value) in modes"
            ng-model="mode"
            ng-change="load(platform, mode)"
            class="form-control filter-mode">
    </select>&nbsp;
    <input type="text"
           ng-model="name"
           ng-model-options="{debounce: 500}"
           ng-change="search(name)"
           class="form-control filter-name"
           placeholder="Guardian..."/>
</div>

<div class="loading" ng-if="loading.leaderboard"><i class="fa fa-cog fa-spin"></i> Loading Guardian Data...</div>
<div class="table-responsive">
    <table class="table table-striped leaderboard leaderboard-full" ng-if="!loading.leaderboard">
        <tr>
            <th class="text-center" style="width:1%" translate>Rank</th>
            <th style="width:30%" translate>Name</th>
            <th class="text-center" style="width:5%">Elo</th>
            <th class="text-center hidden-xs" style="width:5%" translate translate-comment="Short for kills">K</th>
            <th class="text-center hidden-xs" style="width:5%" translate translate-comment="Short for deaths">D</th>
            <th class="text-center hidden-xs" style="width:5%" translate translate-comment="Short for assists">A</th>
            <th class="text-center" style="width:5%" translate translate-comment="Short for kills / deaths">K/D</th>
            <th class="text-center" style="width:5%" translate>Win%</th>
            <th class="text-center hidden-xs" style="width:5%" translate>Games</th>
        </tr>
        <tr ng-class="{highlight: (row.name|lowercase) == highlight}" ng-repeat="row in results.data | orderBy:'rank' track by $index">
            <td class="text-center">{{ (page * pageCount) + $index + 1|number }}</td>
            <td><a ui-sref="app.profile({platform: platform, name: row.name})">{{ row.name }}</a></td>
            <td class="text-center leaderboard-elo elo-{{ row.league.label|lowercase }}" ng-style="{ 'background-color': row.league.colors.background }">{{ row.elo }}</td>
            <td class="text-center hidden-xs">{{ row.kills|number }}</td>
            <td class="text-center hidden-xs">{{ row.deaths|number }}</td>
            <td class="text-center hidden-xs">{{ row.assists|number }}</td>
            <td class="text-center">{{ row.kills / row.deaths|number:2 }}</td>
            <td class="text-center">{{ (row.wins / row.gamesPlayed * 100)|number:2 }}</td>
            <td class="text-center hidden-xs">{{ row.gamesPlayed|number:0 }}</td>
        </tr>
    </table>
</div>
<div class="filters" ng-if="!loading.leaderboard">
    <div class="btn-group pull-right pg" ng-if="!loading.leaderboard">
        <button type="button"
                class="btn btn-default"
                ng-disabled="page == 0"
                ng-click="load(platform, mode, 0)">
            <i class="fa fa-angle-double-left visible-xs visible-sm"></i>
            <span class="visible-md visible-lg" translate>First</span>
        </button>
        <button type="button"
                class="btn btn-default"
                ng-disabled="page - 1 <= 0"
                ng-click="load(platform, mode, page - 1)">
            <i class="fa fa-angle-left visible-xs visible-sm"></i>
            <span class="visible-md visible-lg" translate>Prev</span>
        </button>
        <button class="btn btn-disabled page-info" translate>
            Page {{page+1|number}} of {{pageTotal+1|number}}<span>{{total|number}} Guardians</span>
        </button>
        <button type="button"
                class="btn btn-default"
                ng-disabled="page >= pageTotal"
                ng-click="load(platform, mode, page + 1)">
            <i class="fa fa-angle-right visible-xs visible-sm"></i>
            <span class="visible-md visible-lg" translate>Next</span>
        </button>
        <button type="button"
                class="btn btn-default"
                ng-disabled="page == pageTotal"
                ng-click="load(platform, mode, pageTotal)">
            <i class="fa fa-angle-double-right visible-xs visible-sm"></i>
            <span class="visible-md visible-lg" translate>Last</span>
        </button>
    </div>
    <div class="clear"></div>
</div>