<div class="item-details">

    <div class="quick-facts">

        <div class="section">
            <h3 translate>Metadata</h3>
            <ul class="facts">
                <li>
                    <span translate>Last patched</span>
                    <em class="help" uib-tooltip="{{entity.version}}" data-toggle="tooltip">{{ entity.version|ago }}</em>
                </li>
                <li>
                    <span translate>Class restriction</span>
                    <em ng-show="entity.class === 0" translate>Titan</em>
                    <em ng-show="entity.class === 1" translate>Hunter</em>
                    <em ng-show="entity.class === 2" translate>Warlock</em>
                    <em ng-show="entity.class === 3" translate>None</em>
                </li>
            </ul>
        </div>

        <div class="section">
            <h3 translate>Sources</h3>
            <ul class="sources">
                <li class="source" ng-repeat="source in entity.sources">
                    <div class="icon">
                        <img ng-src="//bungie.net{{ source.icon }}">
                    </div>
                    <div class="info">
                        <span class="name">{{source.name}}</span>
                        <span class="description">{{source.description}}</span>
                    </div>
                </li>
            </ul>
        </div>

    </div>

    <div class="details">

        <div class="header">
            <div class="icon">
                <img ng-src="//bungie.net{{ entity.icon }}">
            </div>
            <div class="info">
                <h1>{{ entity.name }}</h1>
                <span class="type">{{ tiers[entity.tier].label }} {{ entity.typeName }}</span>
                <span class="lore">{{ entity.description }}</span>
            </div>
        </div>

        <div class="primary-stats">

            <div class="stat" ng-show="entity._primaryStats.attack">
                <div class="icon">
                    <i class="ggg ggg-void"></i>
                </div>
                <div class="info">
                    <span class="value" ng-show="entity._primaryStats.attack.min != entity._primaryStats.attack.max">
                        {{ entity._primaryStats.attack.min }}-{{ entity._primaryStats.attack.max }}
                    </span>
                    <span class="value" ng-show="entity._primaryStats.attack.min == entity._primaryStats.attack.max">
                        {{ entity._primaryStats.attack.min }}
                    </span>
                    <span class="name">{{ entity._primaryStats.attack.name }}</span>
                </div>
            </div>

            <div class="stat" ng-show="entity._primaryStats.defense">
                <div class="icon">
                    <i class="ggg ggg-defense"></i>
                </div>
                <div class="info">
                    <span class="value" ng-show="entity._primaryStats.defense.min != entity._primaryStats.defense.max">
                        {{ entity._primaryStats.defense.min }}-{{ entity._primaryStats.defense.max }}
                    </span>
                    <span class="value" ng-show="entity._primaryStats.defense.min == entity._primaryStats.defense.max">
                        {{ entity._primaryStats.defense.min }}
                    </span>
                    <span class="name">{{ entity._primaryStats.defense.name }}</span>
                </div>
            </div>

            <div class="stat" ng-show="entity._primaryStats.magazine">
                <div class="icon">
                    <i class="ggg ggg-magazine"></i>
                </div>
                <div class="info">
                    <span class="value" ng-show="entity._primaryStats.magazine.min != entity._primaryStats.magazine.max">
                        {{ entity._primaryStats.magazine.min }}-{{ entity._primaryStats.magazine.max }}
                    </span>
                    <span class="value" ng-show="entity._primaryStats.magazine.min == entity._primaryStats.magazine.max">
                        {{ entity._primaryStats.magazine.min }}
                    </span>
                    <span class="name">{{ entity._primaryStats.magazine.name }}</span>
                </div>
            </div>

        </div>

        <h4 class="stat-header" translate ng-show="entity._displayStats.length > 0">Primary Stats</h4>
        <div class="stat-bars primary" ng-show="entity._displayStats.length > 0">
            <div class="stat" ng-repeat="stat in entity._displayStats">
                <div class="name">{{ stat.name }}</div>
                <div class="bar">
                    <div class="fill-min" ng-show="stat.min != stat.max" ng-style="{width: ((stat.min * 100) / stat.limit) + '%'}"></div>
                    <div class="fill-max" ng-show="stat.min != stat.max" ng-style="{width: ((stat.max * 100) / stat.limit) + '%'}"></div>
                    <div class="fill" ng-show="stat.min == stat.max" ng-style="{width: ((stat.min * 100) / stat.limit) + '%'}"></div>
                </div>
                <div class="value">
                    <span ng-show="stat.min != stat.max">{{ stat.min }}-{{ stat.max }}</span>
                    <span ng-show="stat.min == stat.max">{{ stat.min }}</span>
                </div>
            </div>
        </div>

        <h4 class="stat-header" translate ng-show="entity._hiddenStats.length > 0">Hidden Stats</h4>
        <div class="stat-bars secondary" ng-show="entity._hiddenStats.length > 0">
            <div class="stat" ng-repeat="stat in entity._hiddenStats">
                <div class="name">{{ stat.name }}</div>
                <div class="bar">
                    <div class="fill-min" ng-show="stat.min != stat.max" ng-style="{width: ((stat.min * 100) / stat.limit) + '%'}"></div>
                    <div class="fill-max" ng-show="stat.min != stat.max" ng-style="{width: ((stat.max * 100) / stat.limit) + '%'}"></div>
                    <div class="fill" ng-show="stat.min == stat.max" ng-style="{width: ((stat.min * 100) / stat.limit) + '%'}"></div>
                </div>
                <div class="value">
                    <span ng-show="stat.min != stat.max">{{ stat.min }}-{{ stat.max }}</span>
                    <span ng-show="stat.min == stat.max">{{ stat.min }}</span>
                </div>
            </div>
        </div>

    </div>

    <div class="clear"></div>

</div>

<!--
<section class="item-details">

    <h2>Sources</h2>


    <h2>Stats</h2>

    <stat-bars stats="entity.stats"></stat-bars>

    <h2>Perks</h2>
    <talent-grid perks="entity.perks"></talent-grid>
</section>
-->