<div class="item-list">
    <table class="item-list-fixed" fixed-header>
        <thead>
        <tr>
            <th ng-click="listService.sortBy('name')">
                <span translate>Name</span>
                <div class="sort" ng-class="{'active-asc': listService.sortColumn == 'name' && listService.sortDirection == 'asc', 'active-desc': listService.sortColumn == 'name' && listService.sortDirection == 'desc'}">
                    <i class="fa fa-sort-asc"></i>
                    <i class="fa fa-sort-desc"></i>
                </div>
            </th>
        </tr>
        </thead>
        <tbody>
        <tr class="spacer">
            <td></td>
        </tr>
        <tr ng-repeat="entity in filteredData track by entity.hash">
            <td>
                <a ui-sref="app.itemDetailName({hash: entity.hash, name: (entity.name|slugify)})"
                   target="_self"
                   class="icon"
                   ng-class="'quality-' + entity.tier"
                   data-ggg-target="true">
                    <img ng-src="//www.bungie.net{{entity.icon}}">
                </a>
                <div class="details">
                    <a ui-sref="app.itemDetailName({hash: entity.hash, name: (entity.name|slugify)})"
                       target="_self"
                       ng-class="'quality-' + entity.tier">
                        {{::entity.name}}
                    </a>
                    <small>{{entity.typeName}}</small>
                </div>
            </td>
        </tr>
        </tbody>
    </table>
    <div class="item-list-scrollable" scrollable>
        <table fixed-header>
            <thead>
            <tr>
                <th class="emblem-bg no-sort" translate ng-show="isEmblem">
                    Preview
                </th>
                <th class="description no-sort" translate ng-show="!hideDescription">
                    Description
                </th>
                <th translate ng-click="listService.sortBy('tier')">
                    Tier
                    <div class="sort" ng-class="{'active-asc': listService.sortColumn == 'tier' && listService.sortDirection == 'asc', 'active-desc': listService.sortColumn == 'tier' && listService.sortDirection == 'desc'}">
                        <i class="fa fa-sort-asc"></i>
                        <i class="fa fa-sort-desc"></i>
                    </div>
                </th>
                <th translate class="source no-sort">
                    Source
                </th>
                <th ng-repeat="col in statColumns" ng-click="listService.sortBy('_stats.' + col.hash + '.max')">
                    {{col.name}}
                    <div class="sort" ng-class="{'active-asc': listService.sortColumn == '_stats.' + col.hash + '.max' && listService.sortDirection == 'asc', 'active-desc': listService.sortColumn == '_stats.' + col.hash + '.max' && listService.sortDirection == 'desc'}">
                        <i class="fa fa-sort-asc"></i>
                        <i class="fa fa-sort-desc"></i>
                    </div>
                </th>
                <th translate class="patch" ng-click="listService.sortBy('version')">
                    Last Patch
                    <div class="sort" ng-class="{'active-asc': listService.sortColumn == 'version' && listService.sortDirection == 'asc', 'active-desc': listService.sortColumn == 'version' && listService.sortDirection == 'desc'}">
                        <i class="fa fa-sort-asc"></i>
                        <i class="fa fa-sort-desc"></i>
                    </div>
                </th>
            </tr>
            </thead>
            <tbody>
            <tr class="spacer">
                <td colspan="{{statColumns.length + 5}}"></td>
            </tr>
            <tr ng-repeat="entity in filteredData track by entity.hash">
                <td class="emblem-bg" ng-show="isEmblem" ng-style="{ 'background-image': 'url(//www.bungie.net' + entity.secondaryIcon + ')'}">
                </td>
                <td class="description" ng-show="!hideDescription">
                    {{entity.description}}
                </td>
                <td ng-class="{'active-sort': listService.sortColumn == 'tier'}">
                    <span class="quality-{{entity.tier}}">{{ entity.tierName }}</span>
                </td>
                <td class="source">
                        <span ng-repeat="source in entity.sources|orderBy:'name'" class="list-reward" uib-tooltip="{{source.name}}" data-toggle="tooltip" tooltip-placement="top">
                            <i class="ggg-source ggg-source-{{source.hash}}"></i>
                        </span>
                </td>
                <td ng-repeat="col in statColumns" ng-class="{'active-sort': listService.sortColumn == '_stats.' + col.hash + '.max'}">
                    <span ng-if="entity._stats[col.hash] && entity._stats[col.hash].min !== entity._stats[col.hash].max">{{entity._stats[col.hash].min}}-{{entity._stats[col.hash].max}}</span>
                    <span ng-if="entity._stats[col.hash] && entity._stats[col.hash].min === entity._stats[col.hash].max && entity._stats[col.hash].min !== 0">{{entity._stats[col.hash].min}}</span>
                    <span ng-if="!entity._stats[col.hash] || (entity._stats[col.hash].min === entity._stats[col.hash].max && entity._stats[col.hash].min === 0)">-</span>
                </td>
                <td class="patch" ng-class="{'active-sort': listService.sortColumn == 'version'}">
                    <span ng-show="entity.version != '0000-00-00 00:00:00'">{{entity.version|ago}}</span>
                    <span ng-show="entity.version == '0000-00-00 00:00:00'">-</span>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>