<div class="header">
    <div class="container">
        <div class="logo">
            <a [routerLink]="['/']"><img src="/asset/image/logo-small.png"></a>
        </div>
        <div class="header-right">
            <div class="search">
                <form (submit)="onPlayer(profileQuery)">
                    <div class="input-group">
                        <input type="text" class="form-control" placeholder="Lookup a Player..." [(ngModel)]="profileQuery" autocorrect="off" autocomplete="off" spellcheck="false">
                    <span class="input-group-btn">
                        <button [disabled]="isSearching" class="btn btn-default"><i class="fa fa-search"></i></button>
                    </span>
                    </div>
                </form>
            </div>
            <div class="login" *ngIf="!session.isAuthenticated()">
                <button class="btn btn-default login" (click)="session.goToLogin()">
                    Sign in
                </button>
            </div>
            <div class="user" *ngIf="session.isAuthenticated()" dropdown>
                <button class="btn btn-default account" dropdownToggle>
                    <span class="hidden-xs"><strong>Signed in:</strong> {{session.account.name}} <i class="caret"></i></span>
                    <span class="visible-xs">My Account <i class="caret"></i></span>
                </button>
                <ul class="dropdown-menu pull-right" dropdownMenu>
                    <li>
                        <a [routerLink]="['/profile', session.account.name]">Profile</a>
                    </li>
                    <li>
                        <a [routerLink]="['/decks', {accountId:session.account.id, sort:'-updated_at'}]">Decks</a>
                    </li>
                    <li>
                        <a [routerLink]="['/account']">Account Settings</a>
                    </li>
                    <li>
                        <a href="javascript:" (click)="session.logout()">Logout</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>

<nav class="navbar navbar-inverse">
    <div class="container">
        <div class="navbar-header">
            <button (click)="isCollapsed = !isCollapsed" type="button" class="navbar-toggle collapsed">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
        </div>
        <div class="navbar-collapse" [class.collapse]="isCollapsed != false">
            <ul class="nav navbar-nav pull-right hidden-sm">
                <li>
                    <a [routerLink]="['/supporter']" class="supporter"><i class="ggg ggg-supporter"></i> Support Us</a>
                </li>
            </ul>
            <ul class="nav navbar-nav">
                <li dropdown>
                    <a href="javascript:" class="dropdown-toggle" dropdownToggle>
                        <span>Leaderboards</span> <span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu leaderboard-menu" dropdownMenu>
                        <li>
                            <ul class="psn">
                                <li class="main-heading"><i class="ggg ggg-platform-ps"></i> PlayStation</li>
                                <li class="heading">Competitive</li>
                                <li><a [routerLink]="['/leaderboard', 2, 19]">Iron Banner</a></li>
                                <li><a [routerLink]="['/leaderboard', 2, 14]">Trials of Osiris</a></li>
                                <li class="heading">Standard Playlist</li>
                                <li><a [routerLink]="['/leaderboard', 2, 12]">Clash</a></li>
                                <li><a [routerLink]="['/leaderboard', 2, 10]">Control</a></li>
                                <li><a [routerLink]="['/leaderboard', 2, 15]">Doubles</a></li>
                                <li><a [routerLink]="['/leaderboard', 2, 23]">Elimination</a></li>
                                <li><a [routerLink]="['/leaderboard', 2, 24]">Rift</a></li>
                                <li><a [routerLink]="['/leaderboard', 2, 13]">Rumble</a></li>
                                <li><a [routerLink]="['/leaderboard', 2, 11]">Salvage</a></li>
                                <li><a [routerLink]="['/leaderboard', 2, 9]">Skirmish</a></li>
                                <li><a [routerLink]="['/leaderboard', 2, 28]">Zone Control</a></li>
                            </ul>
                            <ul class="xbl">
                                <li class="main-heading"><i class="ggg ggg-platform-xbox"></i> Xbox Live</li>
                                <li class="heading">Competitive</li>
                                <li><a [routerLink]="['/leaderboard', 1, 19]">Iron Banner</a></li>
                                <li><a [routerLink]="['/leaderboard', 1, 14]">Trials of Osiris</a></li>
                                <li class="heading">Standard Playlist</li>
                                <li><a [routerLink]="['/leaderboard', 1, 12]">Clash</a></li>
                                <li><a [routerLink]="['/leaderboard', 1, 10]">Control</a></li>
                                <li><a [routerLink]="['/leaderboard', 1, 15]">Doubles</a></li>
                                <li><a [routerLink]="['/leaderboard', 1, 23]">Elimination</a></li>
                                <li><a [routerLink]="['/leaderboard', 1, 24]">Rift</a></li>
                                <li><a [routerLink]="['/leaderboard', 1, 13]">Rumble</a></li>
                                <li><a [routerLink]="['/leaderboard', 1, 11]">Salvage</a></li>
                                <li><a [routerLink]="['/leaderboard', 1, 9]">Skirmish</a></li>
                                <li><a [routerLink]="['/leaderboard', 1, 28]">Zone Control</a></li>
                            </ul>
                        </li>
                    </ul>
                </li>
                <li dropdown>
                    <a href="javascript:" class="dropdown-toggle" dropdownToggle>
                        <span>Item Database</span> <span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu database-menu" dropdownMenu>
                        <li>
                            <ul class="c1">
                                <li class="main-heading">DPS Gear</li>
                                <li><a [routerLink]="['/items', 'weapon']">Weapons</a></li>
                                <li class="sub"><a [routerLink]="['/items', 'weapon', 'primary']">Primary</a></li>
                                <li class="sub"><a [routerLink]="['/items', 'weapon', 'special']">Special</a></li>
                                <li class="sub"><a [routerLink]="['/items', 'weapon', 'heavy']">Heavy</a></li>
                            </ul>
                            <ul class="c2">
                                <li class="main-heading">Defensive Gear</li>
                                <li><a [routerLink]="['/items', 'armor']">Armor</a></li>
                                <li class="sub"><a [routerLink]="['/items', 'armor', 'helmet']">Helmet</a></li>
                                <li class="sub"><a [routerLink]="['/items', 'armor', 'arms']">Arms</a></li>
                                <li class="sub"><a [routerLink]="['/items', 'armor', 'chest']">Chest</a></li>
                                <li class="sub"><a [routerLink]="['/items', 'armor', 'legs']">Legs</a></li>
                                <li class="sub"><a [routerLink]="['/items', 'armor', 'class-item']">Class Item</a></li>
                                <li class="sub"><a [routerLink]="['/items', 'armor', 'artifact']">Artifact</a></li>
                                <li class="sub"><a [routerLink]="['/items', 'armor', 'ghost']">Ghost</a></li>
                            </ul>
                            <ul class="c3">
                                <li class="main-heading">Passive Gear</li>
                                <li><a [routerLink]="['/items', 'subclass']">Subclass</a></li>
                                <li><a [routerLink]="['/items', 'emblem']">Emblem</a></li>
                                <li><a [routerLink]="['/items', 'emote']">Emote</a></li>
                                <li><a [routerLink]="['/items', 'shader']">Shader</a></li>
                                <li><a [routerLink]="['/items', 'ship']">Ship</a></li>
                                <li><a [routerLink]="['/items', 'sparrow']">Sparrow</a></li>
                            </ul>
                            <ul class="c4">
                                <li class="main-heading">Inventory</li>
                                <li><a [routerLink]="['/items', 'bounty']">Bounty</a></li>
                                <li><a [routerLink]="['/items', 'consumable']">Consumable</a></li>
                                <li><a [routerLink]="['/items', 'currency']">Currency</a></li>
                                <li><a [routerLink]="['/items', 'engram']">Engram</a></li>
                                <li><a [routerLink]="['/items', 'material']">Material</a></li>
                                <li><a [routerLink]="['/items', 'mission-key']">Mission Key Item</a></li>
                            </ul>
                        </li>
                    </ul>
                </li>
                <li dropdown>
                    <a href="javascript:" class="dropdown-toggle" dropdownToggle>
                        <span>Stats</span> <span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu stats-menu" dropdownMenu>
                        <li class="main-heading">General</li>
                        <li><a [routerLink]="['/weapon-stats']">Weapons</a></li>

                        <li class="main-heading">Hunter</li>
                        <li><a [routerLink]="['/subclass', 'bladedancer']">Bladedancer</a></li>
                        <li><a [routerLink]="['/subclass', 'gunslinger']">Gunslinger</a></li>
                        <li><a [routerLink]="['/subclass', 'nightstalker']">Nightstalker</a></li>

                        <li class="main-heading">Titan</li>
                        <li><a [routerLink]="['/subclass', 'defender']">Defender</a></li>
                        <li><a [routerLink]="['/subclass', 'striker']">Striker</a></li>
                        <li><a [routerLink]="['/subclass', 'sunbreaker']">Sunbreaker</a></li>

                        <li class="main-heading">Warlock</li>
                        <li><a [routerLink]="['/subclass', 'stormcaller']">Stormcaller</a></li>
                        <li><a [routerLink]="['/subclass', 'sunsinger']">Sunsinger</a></li>
                        <li><a [routerLink]="['/subclass', 'voidwalker']">Voidwalker</a></li>
                    </ul>
                </li>
                <li>
                    <a [routerLink]="['/faq']">FAQ</a>
                </li>
                <li>
                    <a href="https://github.com/guardiangg/http-client">
                        <i class="fa fa-github"></i>
                    </a>
                </li>
                <li>
                    <a href="https://twitter.com/guardiandotgg">
                        <i class="fa fa-twitter"></i>
                    </a>
                </li>
            </ul>
        </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
</nav>

<!-- Routed views go here -->
<div class="container">
    <router-outlet></router-outlet>
</div>

<footer>
    <div class="container">
        <div class="content">
            <div class="network pull-right hidden-xs">
                <strong>Try our other projects:</strong>
                <ul>
                  <li><a href="http://agora.gg"><span class="network-icon network-ggg"></span> Agora.gg (Paragon)</a></li>
                  <li><a href="http://watcher.gg"><span class="network-icon network-wgg"></span> Watcher.gg (Overwatch)</a></li>
                </ul>
                <div class="clearfix"></div>
            </div>
            <div class="credit">Crafted with <i class="fa fa-heart"></i> by <strong>GG Software</strong></div>
            <div class="subcredit">The <em>Guardian.gg</em> website is not affiliated with Bungie or Activision Blizzard</div>
        </div>
    </div>
</footer>
