<h1><span ng-if="::clanTag">[{{::clanTag}}]</span> {{::clanName}}</h1>
<div>{{members.length}} member{{members.length > 1 ? 's' : ''}}</div>
<div>{{completions.length}} / 6 raids complete</div>

<table class="table table-striped">
    <thead>
    <tr>
        <th>Activity</th>
        <th>Started At</th>
        <th>Ended At</th>
        <th>PGCR</th>
    </tr>
    </thead>
    <tbody>
    <tr ng-repeat="activity in completions">
        <td>
            <img ng-src="http://www.bungie.net{{activities[activity.referenceId].icon}}" style="background-color: #000; width: 32px; height: 32px;">
            {{activities[activity.referenceId].name}}
            <br/>
            <img ng-repeat="skull in activities[activity.referenceId].skulls" ng-src="http://www.bungie.net{{skull.icon}}" style="background-color: #000; width: 24px; height: 24px;">
        </td>
        <td>{{activity.startedAt*1000|date:'medium'}}</td>
        <td>{{activity.endedAt*1000|date:'medium'}}</td>
        <td>{{activity.instanceId}}</td>
    </tr>
    </tbody>
</table>

<table class="table table-striped">
    <thead>
    <tr>
        <th>Name</th>
    </tr>
    </thead>
    <tbody>
    <tr ng-repeat="member in ::members">
        <td><a href="/profile/{{member.membershipType}}/{{member.name}}">{{::member.name}}</a></td>
    </tr>
    </tbody>
</table>