$root: '../../';
$brand-primary: #edab4a;

$eloPlacing: #555555;
$eloBronze: #714b2d;
$eloSilver: #777777;
$eloGold: #cd8f25;
$eloPlatinum: #475c53;
$eloDiamond: #3962a2;

$supporterTier1: #97BB41;
$supporterTier2: #BE41C5;
$supporterTier3: #FE3100;
