<html ng-cloak ng-controller="layoutCtrl">
<head>
    <title ng-bind="title"></title>
    <meta charset="utf-8">
    <link href="/asset/image/favicon.ico" rel="shortcut icon">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="alternate" hreflang="{{ lang }}" ng-href="{{ url }}" ng-repeat="(lang, url) in hreflangs()"/>

    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,400,300,600,700" rel="stylesheet" type="text/css">
    <link href='https://fonts.googleapis.com/css?family=Coustard' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">

    <base href="/" />

    <!-- app:css -->
    <!-- endinject -->
</head>

<body>

<toaster-container></toaster-container>

<div class="container">
    <div class="row">
        <div class="logo col-sm-7">
            <a ui-sref="app.home"><img src="/asset/image/logo.png" /></a>
            <translate>Advanced Destiny Stats</translate>
        </div>

        <div class="col-sm-5">
            <div class="language pull-right">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                    <i class="fa fa-globe"></i>&nbsp;{{ languages[currentLanguage()] }} <span class="caret"></span>
                </a>
                <ul class="dropdown-menu">
                    <li ng-repeat="(short, long) in ::languages" ng-if="short != currentLanguage()">
                        <a href="javascript:" ng-click="changeLanguage(short)">{{ long }}</a>
                    </li>
                </ul>
            </div>
            <div class="clear"></div>
            <form ng-submit="searchForPlayer(name)" class="search">
                <div class="input-group">
                    <input type="text" class="form-control" ng-model="name" placeholder="{{ placeholder }}">
                    <span class="input-group-btn">
                        <button class="btn btn-default fa fa-search" type="submit"></button>
                    </span>
                </div>
            </form>
        </div>
    </div>

    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#ggg-nav">
                    <span class="sr-only" translate>Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="ggg-nav">
                <ul class="nav navbar-nav">
                    <li><a ui-sref="app.home()" translate>Home</a></li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                            <translate>Leaderboards</translate> <span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu">
                            <li class="dropdown-header"><i class="ggg ggg-platform-ps"></i>&nbsp;<translate>PlayStation</translate></li>
                            <li>
                                <a ui-sref="app.leaderboard-platform-mode({platform: 2, mode: 19})">
                                    <i class="ggg ggg-iron-banner"></i>&nbsp;<translate>Iron Banner</translate>
                                </a>
                            </li>
                            <li>
                                <a ui-sref="app.leaderboard-platform-mode({platform: 2, mode: 14})">
                                    <i class="ggg ggg-osiris"></i>&nbsp;<translate>Trials of Osiris</translate>
                                </a>
                            </li>
                            <li>
                                <a ui-sref="app.leaderboard-platform-mode({platform: 2, mode: 10})">
                                    <i class="ggg ggg-control"></i>&nbsp;<translate>Control</translate>
                                </a>
                            </li>
                            <li>
                                <a ui-sref="app.leaderboard-platform-mode({platform: 2, mode: 12})">
                                    <i class="ggg ggg-clash"></i>&nbsp;<translate>Clash</translate>
                                </a>
                            </li>
                            <li>
                                <a ui-sref="app.leaderboard-platform-mode({platform: 2, mode: 13})">
                                    <i class="ggg ggg-rumble"></i>&nbsp;<translate>Rumble</translate>
                                </a>
                            </li>
                            <li>
                                <a ui-sref="app.leaderboard-platform-mode({platform: 2, mode: 24})">
                                    <i class="ggg ggg-rift"></i>&nbsp;<translate>Rift</translate>
                                </a>
                            </li>
                            <li>
                                <a ui-sref="app.leaderboard-platform-mode({platform: 2, mode: 23})">
                                    <i class="ggg ggg-elimination"></i>&nbsp;<translate>Elimination</translate>
                                </a>
                            </li>
                            <li>
                                <a ui-sref="app.leaderboard-platform-mode({platform: 2, mode: 9})">
                                    <i class="ggg ggg-skirmish"></i>&nbsp;<translate>Skirmish</translate>
                                </a>
                            </li>

                            <li class="divider"></li>

                            <li class="dropdown-header"><i class="ggg ggg-platform-xbox"></i>&nbsp;<translate>Xbox</translate></li>
                            <li>
                                <a ui-sref="app.leaderboard-platform-mode({platform: 1, mode: 19})">
                                    <i class="ggg ggg-iron-banner"></i>&nbsp;<translate>Iron Banner</translate>
                                </a>
                            </li>
                            <li>
                                <a ui-sref="app.leaderboard-platform-mode({platform: 1, mode: 14})">
                                    <i class="ggg ggg-osiris"></i>&nbsp;<translate>Trials of Osiris</translate>
                                </a>
                            </li>
                            <li>
                                <a ui-sref="app.leaderboard-platform-mode({platform: 1, mode: 10})">
                                    <i class="ggg ggg-control"></i>&nbsp;<translate>Control</translate>
                                </a>
                            </li>
                            <li>
                                <a ui-sref="app.leaderboard-platform-mode({platform: 1, mode: 12})">
                                    <i class="ggg ggg-clash"></i>&nbsp;<translate>Clash</translate>
                                </a>
                            </li>
                            <li>
                                <a ui-sref="app.leaderboard-platform-mode({platform: 1, mode: 13})">
                                    <i class="ggg ggg-rumble"></i>&nbsp;<translate>Rumble</translate>
                                </a>
                            </li>
                            <li>
                                <a ui-sref="app.leaderboard-platform-mode({platform: 1, mode: 24})">
                                    <i class="ggg ggg-rift"></i>&nbsp;<translate>Rift</translate>
                                </a>
                            </li>
                            <li>
                                <a ui-sref="app.leaderboard-platform-mode({platform: 1, mode: 23})">
                                    <i class="ggg ggg-elimination"></i>&nbsp;<translate>Elimination</translate>
                                </a>
                            </li>
                            <li>
                                <a ui-sref="app.leaderboard-platform-mode({platform: 1, mode: 9})">
                                    <i class="ggg ggg-skirmish"></i>&nbsp;<translate>Skirmish</translate>
                                </a>
                            </li>
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown"><translate>Subclasses</translate> <span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a ui-sref="app.subclass({subclass: 'bladedancer'})"><translate>Bladedancer</translate></a></li>
                            <li><a ui-sref="app.subclass({subclass: 'gunslinger'})"><translate>Gunslinger</translate></a></li>
                            <li><a ui-sref="app.subclass({subclass: 'nightstalker'})"><translate>Nightstalker</translate></a></li>
                            <li class="divider"></li>
                            <li><a ui-sref="app.subclass({subclass: 'defender'})"><translate>Defender</translate></a></li>
                            <li><a ui-sref="app.subclass({subclass: 'striker'})"><translate>Striker</translate></a></li>
                            <li><a ui-sref="app.subclass({subclass: 'sunbreaker'})"><translate>Sunbreaker</translate></a></li>
                            <li class="divider"></li>
                            <li><a ui-sref="app.subclass({subclass: 'stormcaller'})"><translate>Stormcaller</translate></a></li>
                            <li><a ui-sref="app.subclass({subclass: 'sunsinger'})"><translate>Sunsinger</translate></a></li>
                            <li><a ui-sref="app.subclass({subclass: 'voidwalker'})"><translate>Voidwalker</translate></a></li>
                        </ul>
                    </li>
                    <!--<li><a ui-sref="app.items" translate>Items</a></li>-->
                    <li><a ui-sref="app.weapon-stats" translate>Weapon Stats</a></li>
                    <li><a ui-sref="app.faq" translate="">FAQ</a></li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li class="divider"></li>
                    <li>
                        <a href="javascript:" onclick="document.getElementById('paypal').submit()">
                            <i class="fa fa-paypal"></i>&nbsp;<translate class="hidden-sm">Donate</translate>
                        </a>
                        <form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_blank" style="display: none" id="paypal">
                            <input type="hidden" name="cmd" value="_s-xclick">
                            <input type="hidden" name="hosted_button_id" value="L5SUDPCS8DNSN">
                            <input type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_donate_SM.gif" name="submit">
                            <img alt="" border="0" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" width="1" height="1">
                        </form>
                    </li>
                    <li>
                        <a href="https://github.com/guardiangg/http-client">
                            <i class="fa fa-github"></i>&nbsp;<translate class="hidden-sm">GitHub</translate>
                        </a>
                    </li>
                </ul>
            </div><!-- /.navbar-collapse -->
        </div><!-- /.container-fluid -->
    </nav>

    <div ui-view ng-if="!apiError"></div>
    <div class="error" ng-if="apiError">
        <h3 translate>Bungie API Error</h3>
        <p translate>
            Oh dang, it looks like the Bungie API is acting up. We're not able to show you this page until the issue
            gets resolved. Grab yourself a nice tall glass of iced tea and come back to refresh the page. It might work
            itself out, or it might not...
        </p>
        <p translate>
            This error most often occurs if Bungie's doing maintenance in Destiny.
        </p>
    </div>
</div>

<!-- vendor:js -->
<!-- endinject -->
<!-- app:js -->
<!-- endinject -->

<script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
                (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
            m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-65365605-1', 'auto');
</script>

</body>
</html>
